.git
.gitignore
.github
.devcontainer
.venv
.env
.env.*
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
tests
Dockerfile.dev
docker-compose.yml
README.md
*.md
script
